@model Kitten_Pokedex.Pokedex

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pokedex</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nameenglish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nameenglish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namejapanese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namejapanese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namechinese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namechinese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Namefrench)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Namefrench)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type0)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type0)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseHp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseHp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseAttack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseAttack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseDefense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseDefense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSpAttack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSpAttack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSpDefense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSpDefense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseSpeed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
